#result-total{
  margin: 0 0 20px;
  span{
    padding: 5px;
    font-weight: bold;
    border-radius: 3px;
    color: darken(#f9f9f9, 50);
    font-size: .9rem;
    background: darken(#f9f9f9, 5);
    border-top: 1px solid darken(#f9f9f9, 8);
    box-shadow: inset 0px -1px 0px 0px #fff;
    display: inline-block;
  }
}

.pagination {
  text-align: center;
  padding: 0;
  li {
    display: inline-block;
    a{
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      font-size: .9em;
      font-weight: bold;
      padding: 5px 10px;
      color: #102880;
    }
    &#count{
      padding: 5px;
      font-weight: bold;
      border-radius: 3px;
      color: darken(#f9f9f9, 50);
      font-size: .9rem;
      background: darken(#f9f9f9, 5);
      border-top: 1px solid darken(#f9f9f9, 8);
      box-shadow: inset 0px -1px 0px 0px #fff;
    }
  }
}
